<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/design.css' %}"/>
    <div class="my-img">
        <h3>hello django</h3>
        <img src="{% static '/images/Capture.png' %}" alt="Robt image">
    </div>
</body>
</html>